<div fxFlex>
    <mat-card class="m-5" *ngFor="let coffee of list">
        <mat-card-title>{{ coffee.name }}</mat-card-title>
        <mat-card-subtitle>{{ coffee.place }}</mat-card-subtitle>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="map(coffee)">
                <mat-icon>map</mat-icon>
            </button>
            <button mat-button (click)="share(coffee)">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-button (click)="details(coffee)">
                <mat-icon>list</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <a [routerLink]="['/coffee']" id="btnCreate"><button mat-fab>
            <mat-icon>Add</mat-icon>
        </button></a>
</div>